@define-color selected-text #e7e9ea;
@define-color text #71767b;
@define-color base #000000;
@define-color border #e7e9ea;
@define-color foreground #71767b;
@define-color background #000000;

#box {
  border-radius: 6px;
  /* border: 1px solid lighter(@border); */ 
  border-width: 1px;
}

#search {
  border-radius: 6px;
  /* background: transparent(@background); */
  border-width: 1px;
}
